.userCreation {
    border: 1px solid #DAB584;
    margin-top: 5%;
    margin-left: 30%;
    height: 550px;
    width: 65%;
    min-width: 1000px;
    border-radius: 4px;
    box-shadow: 1px 2px 1px 2px rgba(100, 100, 100, 0.5);
}
#userCreationTitle {
    width: 100%;
    height: 40px;
    background-color: #DAB584;
    padding: 5px;
}
legend {
    color: #DAB584;
}
.colonne {
    width: 40%;
    display: inline-block;
    margin-left: 5%;
    margin-top: 30px;
}
div #second {
    position: relative;
    top: -154px;
}
.colonne input {
    float: right;
    width: 250px;
}
input .statut {
    float: left;
}
.userCreationButton {
    width: 150px;
    height: 30px;
    margin-left: 5%;

}
#userCreationActions {
    margin-left: 30%;
}
.formField {
    margin: 5px;
}
.alertForm {
    float: right;
    color: white;
    background-color: rgba(255, 0, 0, 0.5);
    padding: 2px;
    width: 250px;
    text-align: right;
    border-radius: 3px;
    position: relative;
    top: -5px;
    left: -5px;
}