@(messages: java.util.List[Inscription], compte: Compte)


<!-- liste des onglets -->

@for( team1 <- messages) { @if(team1.getUser() != null){
<div class="row">
	<div class="col-md-10  col-lg-offset-2 text-center">

		<section class="comment-list">


			<article class="row">
				<div class="col-md-9 col-sm-9">
					<div class="panel panel-info arrow left">
						<div class="panel-heading" style="padding: 2px;">
							<p>
								<span class="glyphicon glyphicon-user pull-left"> <strong>@team1.getUser().getPrenom()
										@team1.getUser().getNom()</strong></span> <span
									class="glyphicon glyphicon-time text-center"> <strong>@team1.getDateInscription().format("dd/MM/yyyy")</strong></span>
								<span class="pull-right"> @if(team1.getEtat() ==
									Inscription.STATE.NOT_VALIDATED){ <!-- updateInscriptionToValide -->
									<a
									href="@routes.EquipeCtrl.updateInscriptionToValide(team1.getIdInscription())"
									id="dataShow" class="btn btn-success btn-xs"
									alt="Visualiser la fiche du membre"><span
										class="glyphicon glyphicon-thumbs-up"></span></a> <!-- Duplicate -->
									<a
									href="@routes.EquipeCtrl.updateInscriptionToDuplicate(team1.getIdInscription())"
									class="btn btn-warning btn-xs" alt="Supprimer le membre"><span
										class="glyphicon glyphicon-duplicate"><b> 2 </b></span></a> }

								</span>
							</p>
						</div>
						<div class="panel-body" style="padding: 2px;" >
							<div class="alert alert-success pull-left">
								<p>@team1.getMessageIncoming()</p>

							</div>
							@if(team1.getEtat() ==
									Inscription.STATE.NOT_VALIDATED || team1.getEtat() ==
									Inscription.STATE.VALIDATED){
							<div class="btn btn-success pull-right">
								<span class="glyphicon glyphicon-ok pull-right"></span>
							</div>
							}
							@if(team1.getEtat() ==
									Inscription.STATE.NOT_WELL_FORMED){
							<div class="btn btn-danger pull-right">
								<span class="glyphicon glyphicon-remove pull-right"></span>
							</div>
							}
							@if(team1.getEtat() ==
									Inscription.STATE.DUPLICATED){
							<div class="btn btn-warning pull-right">
								<span class="glyphicon glyphicon-duplicate pull-right"><strong>2</strong></span>
							</div>
							}
						</div>
					</div>
				</div>
			</article>

		</section>
	</div>
</div>

	}
}






